body {
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Fredoka One', cursive;
    height: 20vh;
}
h1 {
    color:#F8C169;
    text-shadow: 2px 2px black;
    font-size: 5rem;
}
p {
    font-size: 1.25rem;
}
.title {
    text-align: center;
    margin-top: 2rem;
}
.message-container {
    width: 80%;
    height: auto;
    max-height: auto;
    display: inline;
    overflow-y: auto;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    padding: 0;
    border-radius: 10px;
}
.message-container::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.message {
    text-align: right;
    margin:0 0 0 0;
    background:rgba(24, 95, 173, .9);
    color:rgba(255,255,255, 1);
    padding: 0 .75rem;
}
.result {
    text-align: left;
    margin:0 0 0 0;
    background:rgba(225, 82, 57, .9);
    color:rgba(255,255,255, 1);
    padding: 0 .75rem;
}
.container {
    margin: 2rem auto;
    display: inline-block;
    height: 80%;
}
.row {
    margin: 0 auto;
}
.center {
    margin: 0 auto;
    width: 100%;
}
form {
    display: inline-block;
    margin: .5rem auto;
    text-align: center;
}
.form-container {
    margin: 0 2rem;
}
.response {
    color: #E15239;
    text-shadow: 2px 2px black;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}
.form-text {
    color: black !important;
}
.form-section {
    margin: 0 0 1rem 0;
    color:white;
    font-size: 1.5rem;
}
.form-title {
    text-shadow: 2px 2px black;
}
.btn-primary {
    background-color: #E15239;
    border-color: #E15239;
}
.btn-primary:hover {
    background-color:#F8C169;
    border-color: #F8C169;
}